*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  object-fit: cover;
  display: flex;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
