@import url("./fonts.css");
@import url("./globalstyles.css");

body {
  font-family: "Lexend";
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2%;
  color: #2c2c2c;
}

a {
  color: #2c2c2c;
}

.container {
  width: 100%;
  max-width: 1404px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.btn {
  border: 1px solid #2c2c2c;
  border-radius: 38px;
}

/* HEADER START */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo__image {
}
.site-nav {
}
.site-nav__list {
  display: flex;
  gap: 48px;
}
.site-nav__list__item {
}
.site-nav__list__item__link {
  font-size: 14px;
  text-transform: uppercase;
}
.header__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;

  text-transform: uppercase;
}

/* HEADER END */

/* HERO START */
.hero {
  margin-top: 53px;
  margin-bottom: 120px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-transform: uppercase;
}
.hero__subtitle {
  font-size: 16px;
  font-weight: 400;
}
.hero__title {
  font-size: 148px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -4%;
}
.hero__video-wrapper {
  border-radius: 48px;
  overflow: hidden;
}
/* HERO END */

/* CATEGORY START */
.category {
  margin-bottom: 120px;
}
.category__container {
  display: flex;
  justify-content: space-between;
}

.category__content {
}
.category__title {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;

  margin-bottom: 12px;
}
.category__desc {
  max-width: 456px;
  color: #7a7a7a;
}
.category__list {
  max-width: 548px;
  width: 100%;
}
.category__list__item {
  border-bottom: 1px solid #cbcbcb;

  transition: 0.3s;
}

.category__list__item:hover {
  transform: scale(1.05);
}

.category__link {
  padding-top: 24px;
  padding-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
}
.arrow-icon {
}
/* CATEGORY END */

/* PLAN START */
.plan {
  margin-bottom: 120px;
}
.plan__container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.plan__title {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -4%;
  text-transform: uppercase;
  max-width: 507px;
  text-align: center;
}
.plan__card-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.plan_card-item {
  padding: 48px;
  background-color: #ededed;
  border-radius: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.plan__btn {
  padding: 14.5px 32px;

  font-size: 20px;
  text-transform: uppercase;
}

.plan__content {
  max-width: 346px;
  text-align: end;
}
.plan__card__title {
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.plan__card__desc {
  line-height: 22px;
  color: #7a7a7a;
}

.plan__image {
  position: absolute;
  bottom: 0;
}
.plan__image1 {
  right: 298px;
}
.plan__image2 {
  right: 380px;
}
.plan__image3 {
  right: 350px;
}
/* PLAN END */
